<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Lista de Citas</title>
</head>
<body>
<h1>Lista de Citas Médicas</h1>

<table border="1">
  <thead>
  <tr>
    <th>ID</th>
    <th>Paciente</th>
    <th>Doctor</th>
    <th>Fecha</th>
    <th>Estado</th>
    <th>Acción</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="cita : ${citas}">
    <td th:text="${cita.id}"></td>
    <td th:text="${cita.nombrePaciente}"></td>
    <td th:text="${cita.doctor}"></td>
    <td th:text="${cita.fecha}"></td>
    <td th:text="${cita.estado}"></td>
    <td>
      <a th:href="@{/cambiar-estado/{id}(id=${cita.id})}">Marcar como Atendida</a>
    </td>
  </tr>
  </tbody>
</table>

<br>
<a href="/nueva-cita">Registrar nueva cita</a>
</body>
</html>